<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wednesday Challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D843AF3E1BD8066C008EB98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D843AF571BD8066C008EB98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D843AF621BD8066C008EB98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
